[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
anchor_project = "FXBozhUYrc2uHya13RGyHp6YWEieTAGpiz9nvWqcJMid"
real_estate = "3U6NSTN5Pm9VaMeTCdYq9RFUddeStn4zn63uXm33dr4A"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
